.slideshow-container {
    position: relative;
    width: 80%;
    margin: 40px auto;
    overflow: hidden;
  }
  
  .slide {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .slide.active {
    opacity: 1;
  }
  
  .slide img {
    width: 100%;
    border-radius: 10px;
  }
  